<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='header'>
      BibliHouse
    </div>
    {{{body}}}
  
    <h1 class="footer"> <div>
      Design by: Tomas Benitez - 2022 
      <div> 
        <a href= 'https://www.instagram.com/tomas.benitez13/' style={ textDecoration: 'none'} target = '_BLANK' class="a_de_footer"> Instagram </a>
      </div>
      <div> 
        <a href= 'https://www.facebook.com/profile.php?id=100008295554789' style={ textDecoration: 'none'} target = '_BLANK' class="a_de_footer" > Facebook </a>
      </div>
      <div> 
        <a href= 'https://tomasbeniteztri.github.io/React/' style={ textDecoration: 'none'} target = '_BLANK' class="a_de_footer"> React </a>
      </div>
      <div> 
        <a href= 'https://relatosdeportistas.000webhostapp.com/index.php' style={ textDecoration: 'none'} target = '_BLANK' class="a_de_footer"> PHP </a>
      </div> </h1>
  </body>
</html>