<link rel='stylesheet' href='/stylesheets/style.css' />  
    <div class="container">
    <form action="/admin/login" method="post" class="formulariologin">
        <input type="text" class="usuario_login" id="inputUser" placeholder="Usuario" name="usuario">
        <input type="password" class="contraseña_input" id="inputPassword" placeholder="Contraseña" name="password"> 
        <button type="submit" class="btn-primary">Ingresar</button>
    </form>
    </div>
        {{#if error}}
        <p>Usuario o contraseña incorrecto</p>
        {{/if}}
