<link rel='stylesheet' href='/stylesheets/style.css' />  
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9D746GXM4M"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9D746GXM4M');
</script>
    <div class="container">
    <form action="/admin/login" method="post" class="formulariologin">
        <input type="text" class="usuario_login" id="inputUser" placeholder="Usuario" name="usuario">
        <input type="password" class="contraseña_input" id="inputPassword" placeholder="Contraseña" name="password"> 
        <button type="submit" class="btn-primary">Ingresar</button>
    </form>
    </div>
        {{#if error}}
        <p>Usuario o contraseña incorrecto</p>
        {{/if}}
    </div>
