<!DOCTYPE html>
<html>
  <head>
    <title>Tomas Benitez</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9D746GXM4M"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-9D746GXM4M');
    </script>
  </head>
  <body>
    <div class='header'>
      BibliHouse
    </div>
    {{{body}}}
<h1>{{title}}</h1>
{{#if conocido}}
<p class="norma_1">Gracias por iniciar sesión {{nombre}} 
    <a href="/salir" class="norma_3"> 
        Cerrar sesión 
    </a>
</p>
{{/if}}

    <h1 class="footer"> Design by: Tomas Benitez - 2022 </h1>
  </body>
</html>